.top .nav li:first-child a{
    background-color: rgba(255, 105, 180, 0.3);
    color: aliceblue;
}
.header .wrapper img{
    position: absolute;
    width: 100%;
}
.top .wrapper .search{
    margin-left: 500px;
    display: flex;
    align-items: center;
}
.top .wrapper .search input{
    width: 300px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    outline: none;
}
.top .wrapper .search button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(255, 105, 180, 0.3);
    cursor: pointer;
    color: aliceblue;
}
.header .wrapper{
    height: 343.47px;
    position: relative;
}
.header .wrapper ul{
    background-color:rgba(17, 19, 24, 0.7);;
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0;
}
.header .wrapper ul li{
    position: relative;
    color: aliceblue;
    height: 69px;
}
.header .wrapper ul li h4{
    padding: 10px 20px;
    display: block;
    margin: 0 20px;
    font-weight: 350;
    transition: font-size 0.3s ease;
}
.header .wrapper ul li p{
    position:absolute;
    bottom: 10px;
    display: none;
}
.header .wrapper ul li:hover{
    background-color: rgba(28, 32, 40, 0.7);
}
.header .wrapper ul li:hover h4{
    font-size: 24px;
    font-weight: 500;
}
.header .wrapper ul li:hover p{
    /* position: absolute;
    bottom: ; */
    font-size: 12px;
    margin-left: 50px;
    display: block;
}
.banner .wrapper .title{
    margin: 30px 0;
    color: aliceblue;
}
.banner .wrapper{
    height: 2000px;
}
.banner .wrapper .moviesList{
    display: flex;
    height: 340px;
    gap: 14px;
    flex-wrap: wrap;
}
.banner .wrapper .moviesList li{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(17, 19, 24, 0.7);
    height: 340px;
    width: 188px;
    color:aliceblue;
}
.banner .wrapper .moviesList li:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.banner .wrapper .moviesList li:hover h3{
    color: hotpink;
}
.banner .wrapper .moviesList li:hover .movie-meta{
    display: block;
}
.banner .wrapper .moviesList li img{
    height: 253px;
    width: 188px;
    border-radius: 10px;
}
.banner .wrapper .moviesList li p{
    color: rgb(132, 136, 140);
    font-size: 15px;
}
.banner .wrapper .moviesList li:hover h3{
    font-weight: 500;
}
.banner .wrapper .moviesList li h3{
    font-size: 18px;
    font-weight: 400;
}
.banner .wrapper .moviesList li .movie-meta{
    display: none;
    height: 30px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hotpink;
    position: absolute;
    left: 10px;
    bottom: 90px;}
.search-results{
    display: none;
}
.banner .wrapper .search-results.active{
    display: block;
}
.banner .wrapper .search-results p{
    color: aliceblue;
}

.banner .wrapper .moviesList li .cover {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: rgba(28, 32, 40, 0.7);
    color: hotpink;
    top:-40px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner .wrapper .moviesList li:hover .cover{
    top: 0px;
}
.banner .wrapper .moviesList li:hover .cover:hover a{
    font-size: larger;
}